body
{
  color: white;
  background-color:lightblue;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px
}
h3
{
    background-color: coral;
    border-radius: 8px;
    height: 45px;
    text-align: center;
    width: 50%;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#b1, #b2
{
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
#b1
{
    background-color: lightcoral;
}
#b2
{
    background-color: darkgoldenrod;
}
#p
{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}





